@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  height: 80vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(52, 113, 228);
  width: 300px;
  border-radius: 10px 10px 0px 0px;
}
header h4 {
  color: white;
}
header small {
  color: rgb(201, 201, 201);
}
input {
  margin: 20px;
  width: 80%;
  height: 30px;
  border-radius: 8px;
  border: none;
  background-color: rgb(27, 81, 183);
  color: #fff;
  padding: 5px 20px;
}
.user-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
    overflow-y: scroll;

}
.user-list li {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}
.user-list li img {
  height: 50px;
  border-radius: 50%;
}
.user-list li p {
  font-size: small;
  margin-top: -20px;
}

/* last li border removal */
.user-list li:not(:last-of-type) {
  border-bottom: 1px solid rgba(173, 173, 173, 0.296);
}

.user-list li.hide {
  display: none;
}
